html {
    background-color: lightslategray;
  }
  h1 {
    color: black;
    font-family: verdana;
    font-size: 50px;
    text-align: top;
  }
  h2 {
    color: black;
    font-family: courier;
    font-size: 20px;
    text-align: center;
  }
  p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
  }

  a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
  }

  body { 
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
  }

  header {
    margin: 0;
    border-top: 5px solid #000000;
    border-Left: 5px solid #000000;
    border-right: 5px solid #000000;
    border-bottom: 5px solid #000000;
    padding: 10px 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    margin: 50;
    border-top: 2px solid #000000;
    border-Left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 10px 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }