html {
  background-color: lightslategray;
  box-sizing: border-box;
}
header {
    margin: 0px;
    border-top: 10px solid #000000;
    padding: 10px 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    }
h2 {
    color: black;
    font-family: courier;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
h3 {
    color: black;
    font-family: courier;
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
  }
body { 
    background: url("") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    }
p   {
    color: black;
    font-family: 'Cambria', sans-serif;
    font-size: 20px;
    text-align: justified;
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 0px;
  }
a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
  }
.container {
  text-align: center;
  margin-top: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
  }
.btn {
  border: 5px solid #000;
  background: none;
  padding: 20px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin: 1px;
  transition: 0.5s;
  position: relative;
  overflow: auto;
 }
.btn {
  color: black;
}
.btn:hover {
  color: white;
}
.home, .menu {
  border: 0px;
  background: none;
  padding: 0px 0px;
  font-size: 50px;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  text-align: left;

  overflow: auto;
 }
.home, .menu {
  color: black;
}
.home:hover, .menu:hover {
  color: white;
}
.links {
    margin-right: 20px;
    text-align: left;
  }
.fullCard {
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 5px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.2), 0 10px 5px rgb(0,0,0,0.23);
  }
.cardContent {
  padding: 10px;
}

.footer {
  text-align: center;
  font-family: monospace;
}
