html {
  background-color: lightslategray;
  position: relative;
  height: 200vh;
}
body { 
  border-top: 15px solid #000000;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 10px 10px 10px 10px ;
  height: 200vh;
  }
header {
    margin: 0px;
    padding: 10px 10px 50px 10px;
    font-family: "Roboto", sans-serif;
    display: flex;
    }
h1 {
  color: #000;
  font-size: 5vw;
  width: 100%;
  margin: 0 auto;
  position: absolute; 
  text-align: center;
  padding-top: 30px;
  }
h2 {
  font-family: monospace;
  font-size: 30px;
  width: 100%;
  position: relative; 
  text-align: center;
  padding: 100px 0px 0px 0px;
  }

h3 {
  font-family: monospace;
  font-size: 25px;
  width: 100%;
  position: relative; 
  text-align: center;
  margin-top: 1%;
  
  margin-bottom: 2%;
 
  padding: 100px 0px 0px 0px;
  }
  h4   {
    color: black;
    font-family: 'Cambria', sans-serif;
    font-size: 20px;
    text-align: justified;
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    padding: 0px;
  }

p   {
    color: black;
    font-family: 'Cambria', sans-serif;
    font-size: 20px;
    text-align: justified;
    margin-top: 1%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 0px;
  }
.container {
  position: static;
  margin: 0 auto;
  text-align: center;
  padding-top: 175px;
  }
.btn {
  border-top: 5px solid #000;
  border-right: 10px solid #000;
  border-bottom: 10px solid #000;
  border-left: 5px solid #000;
  background: none;
  padding: 20px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  margin: 1px;
  transition: 0.5s;
  position: relative;
  overflow: auto;
 }
.btn {
  color: black;
}
.btn:hover {
  color: white;
}
.home, .menu {
  border: 0px;
  background: none;
  padding: 0px 0px;
  font-size: 50px;
  cursor: pointer;
  margin: 10px;
  transition: 0.5s;
  position: absolute;
  }

.home:hover, .menu:hover {
  color: white;
}
.links {
    margin-right: 20px;
    text-align: left;
  }
.fullCard {
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    padding: 5px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.2), 0 10px 5px rgb(0,0,0,0.23);
  }
.cardContent {
  padding: 20px 10px 30px 10px;
}

.footer {
  font-family: monospace;
  position: absolute;
  left: 100px;
  right: 100px;
  bottom: 20px;
  text-align: center;
}